@model List<Personagem>
@{
    ViewData["Title"] = "Página inicial";
    var Categorias = (List<Categoria>)ViewData["Categorias"];
    string Cor(string nome)
    {
        return Categorias
            .Where(t => t.Nome == nome)
            .Select(t => t.Cor)
            .FirstOrDefault();
    }
}

<section class="pt-5 pb-3 text-center container">
            <div class="row">
                <div class="col mx-auto">
                    <h1>Hora de Aventura</h1>
                    <div class="group">
                        <button id="btn-all" class="btn btn-md my-2 text-white bg-dark btn-filter" onclick="filter('all')">
                            Ver Todos
                        </button>
                        @foreach (var Categoria in Categorias)
                        {
                            <button id="btn-@Categoria.Nome.Replace(' ', '-')" class="btn btn-sm my-2 text-white btn-filter"
                                style="background-color:@Categoria.Cor" onclick="filter('@Categoria.Nome.Replace(' ', '-')')">
                                @Categoria.Nome
                            </button>
                        }
                    </div>
                </div>
            </div>
</section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

                @foreach (var Personagem in Model)
                {
                    <!-- Card Personagem - Inicio -->
                    <div class="col" onclick="window.location = '/Home/Details/@Personagem.Id'">
                        <div class="card shadow-sm cursor-pointer @(string.Join('=', Personagem.Categoria).Replace(' ', '-').Replace('=', ' '))">
                            <img src="@Personagem.Imagem" class="card-img-top" width="100%" height="300" alt="@Personagem.Nome" />
                            <div class="card-body">
                                <h3 class="card-title">@Personagem.Nome</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        @foreach (var tipo in Personagem.Categoria)
                                        {
                                            <a href="#" class="btn my-2 text-white" 
                                            style="background-color:@Cor(tipo)" onclick="filter('@tipo')">@tipo</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card personagem - Fim -->
                }

                    <div id="Personagem não encontrado" class="col-lg-12 text-center d-none">
                        <h1 class="my-3 text-danger">Nenhum personagem encontrado</h1>
                    </div>
                </div>


            </div>
        </div>

